<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Estream.Mvc</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.8/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div id="wrap">
        <div class="cookie-top-fixed" style="display: none">
            <div class="alert alert-warning alert-dismissable" style="text-align: center; margin-bottom: 0; border-radius: 0 0 4px 4px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <p>
                    <strong>By using this website, you consent to our use of cookies. For more information on cookies see our <a href="@Url.Action("CookiePolicy", "PolicyAndTerms")">Cookie Policy</a>.</strong>
                </p>
            </div>
        </div>

        @Html.Partial("partials/_header")
        @Html.Partial("partials/_menu")

        <section class="container" role="main">
            <div class="row top-margin-10">
                @*@Html.Partial("partials/_alerts")*@
                @RenderBody()
            </div>
        </section>
    </div>

    @Html.Partial("partials/_footer")

    <environment names="Development">
        <script src="~/js/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/lib/js-cookie/src/js.cookie.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/lib/js-cookie/src/js.cookie.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>

</html>
